@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{      ViewData["Title"] = "Browse Library";
}

<h2>Library</h2>

<p>Hello to our Library!</p>